body {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: mediumpurple;
    font-size: 30px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.left-container, .right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.btn {
    width: 150px;
    height: 55px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
}

.btn-border {
    border: 8px;
    border-style: double;
    border-color: black;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;

}

.grid-div {
    background-color: white;
}

/* .right-container {
    display: flex;
    flex-direction: column;
} */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}